<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Me</h2>
        <h3 class="subtitle">An enthusiastic Web Developer based in Pune</h3>
        <p class="first-desc">Hi, I'm Abhishek Narula — a passionate Developer dedicated to crafting dynamic, user-centric digital experiences. With over 3.5 years of experience in building scalable web applications using Angular, React, JavaScript and .NET Core. I've had the privilege of delivering impactful solutions for global clients like Charles Schwab and CITI Bank. My journey in tech is fueled by a commitment to clean code, innovative UI/UX design, and seamless API integration, ensuring every project not only meets but exceeds performance expectations.</p>
        <a href="assets/Abhishek-Narula-Software-Developer.pdf" download="Abhishek-Narula-Software-Developer">
          <button class="btn">Download CV</button>
        </a>
      </div>
      <div class="about-img" appFade="up">
        <img class="about-img-internal" ngSrc="assets/img/about.png" alt="Abhishek Narula" width="1200" height="800">
      </div>
    </div>
  </div>
</section>

