<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Digital Specialist Engineer</h3>
          <span class="experience-card-info-date">Infosys Limited | Hybrid</span>
          <span class="experience-card-info-date">August 2021 - Present</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Charles Schwab Charitable</h3>
          <p>The Alternative Investment aims to provide a secure, digital, and efficient solution for Schwab Charitable’s 
            Alternative Investment specialists, primarily the Investment Oversight group. The system enables specialists to create, 
            manage, and assess risk for Alternative Investment recommendations, replacing manual processes with a streamlined 
            digital workflow.</p>
            <ul>
              <li><strong>Tech Stack:</strong> Angular, .NET, MongoDB, RabbitMQ, Git, JIRA</li>
              <li>Developed & maintained a secure digital solution for Alternative Investment recommendations.</li>
              <li>Led a team of 4 developers, increasing user engagement by <strong>10%</strong> through optimized UI/UX workflows.</li>
              <li>Designed UI architecture & UX workflows, enhancing data processing speed by <strong>5%</strong>.</li>
              <li>Optimized frontend performance, reducing unnecessary API calls by <strong>25%</strong> using debouncing & throttling.</li>
              <li>Reduced incidents by <strong>15%</strong> through real-time debugging & root cause analysis (RCA).</li>
              <li>Increased code coverage by <strong>20%</strong> with unit testing (Jasmine, Karma).</li>
              <li>Integrated development tools: JIRA, Bitbucket, Studio 3T for streamlined workflows.</li>
          </ul>
          <h3 class="experience-card-details-title">CITI Bank FTP <i>(Centralized Funds Transfer Pricing Engine)</i></h3>
          <p>CitiFTP provides functionality to support the ability to transfer interest rate risk from business to local 
            treasures utilizing the existing process and vectors allowed under the Global Transfer Pricing Policy and ALCO. </p>
            <ul>
              <li><strong>Tech Stack:</strong> Angular, Jenkins, SonarQube, ECS OpenShift, Git, Jasmine, Karma</li>
              <li>Worked as an <strong>Angular Developer for 2+ years</strong>, designing and implementing scalable UI solutions.</li>
              <li>Led requirement analysis with stakeholders, improving UI performance and usability.</li>
              <li>Optimized UI codebase, achieving a <strong>10% increase in efficiency</strong> through enhanced rendering and state management.</li>
              <li>Built and integrated service-layer APIs, ensuring seamless data flow and security.</li>
              <li>Deployed and optimized applications using <strong>Jenkins, SonarQube, ECS OpenShift, and Git</strong>.</li>
              <li>Strengthened test coverage with a <strong>60% increase</strong> using Jasmine & Karma, ensuring high-quality code.</li>
              <li>Debugged and delivered critical features, enhancing system reliability and efficiency.</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <div class="education" appFade="up">
        <div class="education-card">
          <span class="education-date">2017-2021</span>
          <h3 class="education-title">Bachelor of Technology in Computer Science and Engineering</h3>
          <span class="education-institute">Graphic Era Hill University</span>
        </div>
      </div>
      <div class="skill" appFade="up" [delay]="200">
        <div class="skill-card">
          <div class="skill-info">
            <h3 class="skill-title">Angular</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">Javascript | Typescript</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">HTML | CSS</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-info">
            <h3 class="skill-title">React</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">Mongo DB</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">SQL</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div><div class="skill-card">
          <div class="skill-info">
            <h3 class="skill-title">.NET</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">Jasmine | Karma</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">Git</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-info">
            <h3 class="skill-title">Jira</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">Jenkins | Bamboo</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>

          <div class="skill-info">
            <h3 class="skill-title">Bit Bucket</h3>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
