<section>
  <div class="container">
    <div class="services-title">
      <h2>What I Do</h2>
      <p>Development | Database Specialist | UI Solution Architect</p>
    </div>
    <div class="services">
      <div class="services-card" appFade="left">
        <h3 class="services-card-subtitle">Development</h3>
        <h3 class="services-card-title">Angular & .NET Development</h3>
        <p>Developed and optimized enterprise-level applications using Angular and .NET, improving data processing speed by 30% and reducing API response time by 25% through efficient state management and caching techniques.
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="200">
        <h3 class="services-card-subtitle">Database Specialist</h3>
        <h3 class="services-card-title">MongoDB and SQL</h3>
        <p>Optimized MongoDB and SQL queries, reducing query execution time by 40% and improving indexing efficiency, leading to a 20% boost in overall application performance for large-scale data operations.
      
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="400">
        <h4 class="services-card-subtitle">UI Solution Architect</h4>
        <h3 class="services-card-title">UI Solution Architectport</h3>
        <p>Designed and implemented a component-based UI architecture, reducing code redundancy by 35% and improving page load speed by 20%, ensuring seamless cross-browser compatibility and enhanced user experience.</p>
      </div>
    </div>
  </div>
</section>
